In [1]:
import pandas as pd

In [3]:
# Load the data
dfdata = pd.read_csv('../../data/Device type/Chart data.csv')

In [4]:
# Display the first few rows of the data
dfdata.head()

         Date Device type  Views
0  2020-06-28    Computer      1
1  2020-06-29    Computer     49
2  2020-06-30    Computer     62
3  2020-07-01    Computer     46
4  2020-07-02    Computer     29

In [5]:
# Display the last few rows of the data
dfdata.tail()

            Date Device type  Views
5111  2023-12-24      Tablet      0
5112  2023-12-25      Tablet      0
5113  2023-12-26      Tablet      0
5114  2023-12-27      Tablet      0
5115  2023-12-28      Tablet      0

In [6]:
# Display the shape of the data

In [7]:
dfdata.shape

(5116, 3)

In [8]:
# Display the columns of the data
dfdata.columns

Index(['Date', 'Device type', 'Views'], dtype='object')

In [9]:
# Display the data types of the columns
dfdata.dtypes

Date           object
Device type    object
Views           int64
dtype: object

In [10]:
# Display the summary statistics of the data
dfdata.describe()

             Views
count  5116.000000
mean      5.187842
std      16.344307
min       0.000000
25%       0.000000
50%       0.000000
75%       3.000000
max     351.000000

In [11]:
# Display the missing values of the data
dfdata.isnull().sum()

Date           0
Device type    0
Views          0
dtype: int64

In [12]:
# Display the unique values of the columns
dfdata.nunique()

Date           1279
Device type       4
Views           111
dtype: int64