<a href="https://colab.research.google.com/github/10ac-group10/Redash_Chatbot_LLM/blob/database/notebooks/data_understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
# prompt: fetch data from google drive

from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

##### Custom reusable functions to fetch data

In [4]:
# fetch data from google drive reusable function
def fetch_data(data_folder_name, file_name):
  df = pd.read_csv(f"/content/drive/My Drive/10Academy/week3/data/{data_folder_name}/{file_name}.csv")
  return df

In [5]:
def fetch_chart_data(data_folder_name):
  return fetch_data(data_folder_name, 'Chart data')

##### Load the data

In [6]:
cities_chart_df = fetch_chart_data('Cities')
content_chart_df = fetch_chart_data('Content type')
device_type_chart_df = fetch_chart_data('Device type')

##### Explore the unique values and look at the trend in each file

In [7]:
# Display the unique values of the columns
print(cities_chart_df.nunique())
print(content_chart_df.nunique())

Date         1279
Cities          5
City name       5
Views          21
dtype: int64
Date            1279
Content type       2
Views            130
dtype: int64

### Reusable code to generate dataframes and display unique values in teh csv files

In [8]:
def generate_dataframes(names):
    dataframes = {}
    for name in names:
        dataframes[name] = fetch_chart_data(name)
    return dataframes

In [9]:
def display_unique_values(dataframes):
    for name, df in dataframes.items():
        print(f"\n# Unique values columns for {name}")
        print(df.nunique())

In [10]:
names = ['Cities', 'Content type', 'Device type', 'Geography', 'New and returning viewers', 'Operating system', 'Sharing service', 'Subscription source']
dataframes = generate_dataframes(names)

In [11]:
display_unique_values(dataframes)

# Unique values columns for Cities
Date         1279
Cities          5
City name       5
Views          21
dtype: int64

# Unique values columns for Content type
Date            1279
Content type       2
Views            130
dtype: int64

# Unique values columns for Device type
Date           1279
Device type       4
Views           111
dtype: int64

# Unique values columns for Geography
Date         1279
Geography      28
Views          81
dtype: int64

# Unique values columns for New and returning viewers
Date                         1279
New and returning viewers       3
Views                         130
dtype: int64

# Unique values columns for Operating system
Date                1279
Operating system      16
Views                 91
dtype: int64

# Unique values columns for Sharing service
Date               1279
Sharing service       9
Shares                7
dtype: int64

# Unique values columns for Subscription source
Date                   1279
Subscription source       8
Subscribers              13
dtype: int64

# Conclusion from the unique values results
- It can be noted that we have the same unique values of Dates and that we if we have different row lenght that may indicate repetition in some values like the Date column
- We'll explore the duplicated if there are any in the next section

## Check for duplicated rows

In [14]:
# Check for duplicate rows in the entire DataFrame
duplicates = device_type_chart_df.duplicated()

# Print the duplicate rows
print(device_type_chart_df[duplicates])

Empty DataFrame
Columns: [Date, Device type, Views]
Index: []

## Check duplicated values in each column

In [16]:
for column in device_type_chart_df.columns:
    duplicates = device_type_chart_df[column].duplicated()
    print(f"Duplicates in {column}:")
    print(device_type_chart_df[duplicates])

Duplicates in Date:
            Date Device type  Views
1279  2020-06-28          TV      0
1280  2020-06-29          TV      0
1281  2020-06-30          TV      0
1282  2020-07-01          TV      0
1283  2020-07-02          TV      0
...          ...         ...    ...
5111  2023-12-24      Tablet      0
5112  2023-12-25      Tablet      0
5113  2023-12-26      Tablet      0
5114  2023-12-27      Tablet      0
5115  2023-12-28      Tablet      0

[3837 rows x 3 columns]
Duplicates in Device type:
            Date Device type  Views
1     2020-06-29    Computer     49
2     2020-06-30    Computer     62
3     2020-07-01    Computer     46
4     2020-07-02    Computer     29
5     2020-07-03    Computer     26
...          ...         ...    ...
5111  2023-12-24      Tablet      0
5112  2023-12-25      Tablet      0
5113  2023-12-26      Tablet      0
5114  2023-12-27      Tablet      0
5115  2023-12-28      Tablet      0

[5112 rows x 3 columns]
Duplicates in Views:
            Date Device type  Views
7     2020-07-05    Computer     26
10    2020-07-08    Computer      0
11    2020-07-09    Computer      1
12    2020-07-10    Computer      0
13    2020-07-11    Computer      0
...          ...         ...    ...
5111  2023-12-24      Tablet      0
5112  2023-12-25      Tablet      0
5113  2023-12-26      Tablet      0
5114  2023-12-27      Tablet      0
5115  2023-12-28      Tablet      0

[5005 rows x 3 columns]

# Conclusion from the results of duplicated values
-  When we look at the output, we can see the duplicates for each Data field
- For repeated Dates, we different device types that means the device type is categorical value.
## Next steps:
- The next step is to make the length of the rows to be equal given the unique Data values.
- We can achieve this by reshaping the data from long format to wide format, where each device type becomes a separate column. This can be achieved using the pivot function in pandas.

In [ ]:
merged_df = None

for name, df in dataframes.items():
    # Add suffixes to the column names
    df = df.add_suffix('_' + name)
    # Rename the 'Date' column back to its original name
    df = df.rename(columns={'Date_' + name: 'Date'})

    if merged_df is None:
        merged_df = df
    else:
        merged_df = pd.merge(merged_df, df, on='Date', how='outer')

# Now merged_df is the merged dataframe

In [36]:
# Display the shape of the data
df.shape

(6395, 4)

(6395, 4)

In [7]:
# Display the columns of the data
df.columns

Index(['Date', 'Cities', 'City name', 'Views'], dtype='object')

In [9]:
# Display the data types of the columns
df.dtypes

Date         object
Cities       object
City name    object
Views         int64
dtype: object

In [11]:
# Display the summary statistics of the data
df.describe()

             Views
count  6395.000000
mean      0.205160
std       4.065557
min       0.000000
25%       0.000000
50%       0.000000
75%       0.000000
max     180.000000

In [13]:
# Display the missing values of the data
df.isnull().sum()

Date         0
Cities       0
City name    0
Views        0
dtype: int64

In [15]:
# Display the unique values of the columns
df.nunique()

Date         1279
Cities          5
City name       5
Views          21
dtype: int64